<html>
  <head>
    <title>CoverArts</title>
    <meta charset="UTF-8" />
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="firstColor">
      <button class="color1" style="background-color: #FC8585;"></button>
      <button class="color1" style="background-color: #FFC86D;"></button>
      <button class="color1" style="background-color: #FBDBA2;"></button>
      <button class="color1" style="background-color: #F6EADB;"></button>
      <button class="color1" style="background-color: #85CBD9;"></button>
    </div>



    <script src="../static/src/js/visual.js"></script>
    <script src="../static/src/js/colorpicker.js"></script>
    <script src="../static/lib/p5.js" type="text/javascript"></script>
    <script src="https://unpkg.com/color.js@1.2.0/dist/color.js"></script>
  </body>
</html>